// Specific CSS for your home-page
*{
  font-family: 'Roboto', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
.form-control{
  height: 5rem !important;
  font-size: 1.7rem !important;
}
.hero {
  background-image: url('https://images.unsplash.com/photo-1487611459768-bd414656ea10?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  width: 100vw;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.search {
  width: 60vw;
  font-size: 1.7rem;
}
.card{
  margin: 0.5rem;
}
.heading{
  text-align: center;
  color:rgba(121, 117, 117, 0.39);
  text-transform: uppercase;
  padding: 1.5rem;
  font-size: 32px;
  font-weight: 600;
}
.heading span{
  color:#d3ad7f;
  text-transform: uppercase;
}
.btn{
  margin-top: 1rem;
  display: inline-block;
  padding:.9rem 3rem;
  font-size: 1.7rem;
  color:#fff;
  background: grey;
  cursor: pointer;
}
.btn:hover{
  letter-spacing: .2rem;
  background: #D3AD7F;
}
.card-product {
  overflow: hidden;
  height: 420px;
  background: #35353542;
  display: flex;
  align-items: center;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}
.card-product img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card-product h2 {
  font-size: 3rem;
  color:#fff;
  margin: 0;
  font-weight: 600
}
.card-product p {
  font-size: 1.6rem;
  color:rgb(255, 255, 255);
  padding:1rem 0;
  line-height: 1.8;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
.card-product .card-product-infos {
  padding: 16px;
}