// Specific CSS for your home-page
.hero {
  background-image: url('https://images.unsplash.com/photo-1554415707-6e8cfc93fe23?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80');
  background-size: cover;
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.search {
  width: 60vw;
}
