

      h1{
        color: grey;
        margin: 5px;
      }
       h2 {
        color: rgba(86,61,124,.3);
        margin: 25px;
      }
      .card286 {
        padding: 25px;
        margin-bottom: 10px;
        font-size: 1.5rem;
      }
      .card286 {
        height:80vh;
      }
      .form-control {
        height: 5rem !important;
        font-size: 1.7rem !important;
        width: 31rem;
    }
    