<!-- [...] -->
<div class="d-flex justify-content-center">
  <div class="hero">
    <div class="search">
       <%= form_tag courses_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a course . . ."
        %>
        <%= submit_tag "Search", class: "btn " %>
       <% end %>
    </div>
  </div>
</div>
]  <h1 class="heading">Trending <span>Courses</span></h1>]

<div class="d-flex justify-content-around w-100">
  <div class="card" style="width: 32rem; height: 38rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1453733190371-0a9bedd82893?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80"" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"> Mathematics Courses and tutorials suitable for grade 12 students</p>
    </div>
  </div>


  <div class="card" style="width: 32rem; height: 38rem;">
    <img class="card-img-top" src="
https://images.unsplash.com/photo-1550592704-6c76defa9985?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">"French Courses and tutorials suitable for grade 6 students.</p>
    </div>
  </div>


  <div class="card" style="width: 32rem; height: 38rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1556910103-1c02745aae4d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Cookery Courses and tutorials suitable for grade 12 students.</p>
    </div>
  </div>

  <div class="card" style="width: 32rem; height: 38rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1599666520394-50d845fe09c6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Computer Science Courses and tutorials suitable for grade 6 students.</p>
    </div>
  </div>

  <div class="card" style="width: 32rem; height: 38rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1456513080510-7bf3a84b82f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773&q=80" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">French Courses and tutorials suitable for grade 9 students</p>
    </div>
  </div>

</div>
]  <h1 class="heading"> <span>about</span> us </h1>]
<div class="card-product">
  <img src="https://i.pinimg.com/736x/60/71/45/607145b6f60faea95c0fa3b19b1dfee7.jpg" />
  <div class="card-product-infos">
    <h2>what makes our courses special?</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus qui ea ullam, enim tempora ipsum fuga alias quae ratione a officiis id temporibus autem? Quod nemo facilis cupiditate. Ex, vel?</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit amet enim quod veritatis, nihil voluptas culpa! Neque consectetur obcaecati sapiente?</p>
      <a href="#" class="btn">learn more</a>
  </div>
</div>




